<h3 class="text-center">Agregar Restaurante</h3>

<div class="container">

      <form action="/restaurants/<%=@restaurant.id%>" method="post">
      <input type="hidden" name="_method" value="patch">

        <div class="form-group">
          <label for="name">Nombre</label>
          <input value="<%=@restaurant.name%>"type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp">
        </div>
        
        
        <input type="submit" value="Editar" class="btn btn-danger mx-2">
      </form>

</div>
