<div class="banner">
  <div class="container text-center">
    <h1><strong>Tus restaurantes</strong> en <strong>una sola aplicación</strong></h1>
    <p></p>
    <a class="btn btn-danger" href="/restaurants">¡Accede ahora!</a>
  </div>
</div>




